.eventList{
    height: 20em;
    width: 20em;
    overflow-y: auto;
}
.eventCard {
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

.eventCard.selected {
    background-color: #f0f0f0; /* Light gray, for instance. Adjust to your liking */
    border: 2px solid #d0d0d0;
}
.eventCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a shadow */
    transform: translateY(-5px); /* Moving the card slightly upwards */
    background-color: #f9f9f9; /* Optional: Slight change in background color */
}

.eventDetails {
    flex: 1;
}

.eventTitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.eventDescription {
    margin-bottom: 10px;
}

.eventFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location{
    
}



.eventFooter > div {
    display: flex;
    align-items: center;
}
