body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f7f8fc;
}

.page-container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #2c3e50;
}

p {
  margin-bottom: 20px;
}

input[type="text"],
input[type="date"] {
  padding: 10px 15px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-right: 10px;
  width: calc(50% - 10px);
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

.search-section,
.recent-events,
.statistics,
.advanced-search
.search-results {
  margin-top: 40px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}


.event-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  margin-bottom: 20px; /* Add some space between cards */
  /*background-color: #a12525; RED */
}

/* Make sure your event-mini-map and event-details classes don't have any margins/paddings that would prevent the <a> tag from filling the event-card */


.event-details {
  flex: 1; /* Take up remaining space */
  padding-right: 20px; /* Add some space between text and map */

}

.event-mini-map {
  flex: none; /* Do not grow or shrink */
  width: 30%; /* Adjust width as needed */
  /* Height is controlled by the inline style in the component */
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .event-card {
    flex: 1 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

.event-card-title {
  margin: 0;
  margin-bottom: 10px;
  color: #333;
  font-size: 1.3em;
}

.event-card-info {
  margin: 0;
  margin-top: 6px;
  color: #555;
  font-size: 1em;
}

@media (max-width: 480px) {
  .event-card {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

.red-dot-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  position: relative;
  top: -5px;
  left: -5px;
}

.map-container {
  background-color: #ffffff; /* White background */
  padding: 10px;             /* Space inside the container */
  margin: 10px 0;            /* Space outside the container, especially separating it from the map */
  border-radius: 5px;        /* Rounded corners, adjust if necessary */
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */
}
